div#roomnamediv{
	font-family:courier;
	text-align:center;
	position:fixed;
	top:0;
	height:30; width:100%;
	display:block;
  background-color:#111;
}

div#content-wrapper{
	margin-top:-10px;
	margin-bottom:10px;
	display:block;
	height:100%;
}

div#content{
	
	display:block;
	margin:0;
	padding:0;
	overflow-y: scroll;
	height:100%;
}

div#text-send{
	
	padding:0;
	margin:0;
	display:block;
	height:30px;
	width:100%;
	
	bottom:0;
	position:fixed;
}

input#sendtxt{
	
	width:100%;
	font-family:courier;
	padding:10px;
	border:none;
	display:block;	
	outline:none;
	
	
	bottom:0;
}

input{
	
	width:100%;
	font-family:courier;
	padding:10px;
	border:none;
	display:block;	
	outline:none;
	
	
	bottom:0;
}


button{

	font-family:courier;
	display:block;
	margin:10px;
	padding:10px;
	height:10%;
}

a{

	font-family:courier;
	display:block;
	margin:1px;
	padding:0px;
	height:10%;
	color:white;
}

body {

font-family: Courier;
font-width:23px;
padding:0;

}

div.sb-ymes {

display:block;
margin:10 10 10 auto;
padding:10;
max-width:70%;
}

div.sb-tmes {

left:0;
display:block;
margin:10 10 auto 10;
padding:10;
max-width:70%;
}

font.alias {

font-size:12;
display:block;
margin-bottom:5;

}

div.system {

display:block;
margin-left:auto;
margin-right:auto;
padding:10;
max-width:500;
text-align:center;
}
div.sb-tmes {
	
background-color:#444;

}

body {
	
background-color:#111;	
color:white;
}

div#content {
	
	background-color:#222;
}

div.sb-ymes{
	
background-color:#555;

}

input#sendtxt{
	
background-color:#333;
color:white;
}
